<h1>Editing Cart Carry</h1>

<%= render 'form', cart_carry: @cart_carry %>

<%= link_to 'Show', @cart_carry, class: 'btn btn-outline-primary' %> |
<%= link_to 'Back', cart_carries_path , class: 'btn btn-outline-primary'%>
