<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_cart_carry_path(@cart_carry) ,class: 'btn btn-outline-primary float-end m-1' %> 
<%= link_to 'Back', cart_carries_path,class: 'btn btn-outline-primary float-end m-1' %>
