<h1>New Product</h1>

<p id="notice" style="color: #B00100"><%= notice %></p>

<%= render 'form', product: @product , class: 'btn btn-outline-primary'%>

<%= link_to 'Back', products_path , class: 'btn btn-outline-primary' %>
